	h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}


table{
    font-family: arial, sans-serif;
  /*  border-collapse: collapse;*/
   border: 1px solid black;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 1px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
